body {
    width: 1020px;
    margin: 0;
}

.get_a_quote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.footer {
    height: 76px;
    background-color: #2d303a;
}

.get_heading {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    padding-top: 68px;
}

.get_title {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 27px 0 0 40px;
}

.contacts_form {
    margin: 0 0 0 40px;
}

.contacts_field {
    width: 619px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0 0 0 0;
}

.contacts_textarea {
    width: 619px;
    height: 100px;
}
