body {
    margin: 0;
    width: 1020px;
}

h1 {
    margin: 0;
}

.header {
    height: 89px;
    background-color: #2d2f39;
    border-bottom: 6px solid #323746;
    justify-content: space-between;
}

.logo {
    padding-top: 40px;
    margin-left: 40px;
    line-height: 6px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;

}

.logo span {
    color: #e36861;
}

.service_heading {
    font-family: 'Lato', sans-serif;
    color: #666d89;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    padding-left: 40px;
    padding-top: 68px;
}

.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.services {
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.navigation {
    margin-left: 570px;
    margin-top: 0;
    line-height: 6px;

}

li {
    cursor: pointer;
}

li:hover {
    color: #e36861;
}

.navigation_list {
    font-size: 12px;
    display: inline;
    font-family: 'Lato', sans-serif;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
}

.navigation_list::after {
    content: '\00B7';
    padding-right: 7px;
    padding-left: 9px;
    color: #3c404f
}

.navigation_list:last-child::after {
    content: none;
}

.chev_left {
    position: absolute;
    margin-top: 281px;
    margin-left: 42px;
    cursor: pointer;
}

.chev_right {
    position: absolute;
    margin-top: 281px;
    margin-left: 964px;
    cursor: pointer;


}

.iphone_vertical {
    position: absolute;
    margin-left: 110px;
    margin-top: -17px;
}

.iphone_horizontal {
    position: absolute;
    margin-top: 69px;
    margin-left: 360px;
}

.service_text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 40px;
    padding-top: 9px;
}

.custom_design_img {
    margin-left: 40px;
    margin-top: 31px;
}

.custom_design_heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 120px;
    margin-top: -66px;
}

.custom_design_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 120px;
    margin-top: -8px;
}

.innovative_ideas_img {
    position: absolute;
    margin-top: 1px;
    margin-left: 359px;
}

.innovative_ideas_heading {
    margin-top: -168px;
    margin-left: 439px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}



.innovative_ideas_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 439px;
    margin-top: -8px;
}

.love_is_the_answer_img {
    position: absolute;
    margin-left: 679px;
    margin-top: 1px;
}

.love_is_the_answer_hading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-top: -168px;
    margin-left: 761px;
}

.love_is_the_answer_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 760px;
    margin-top: -8px;
}

.responsive_layout_img {
    position: absolute;
    margin-left: 40px;
    margin-top: 1px;
}

.responsive_layout_heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 120px;
    margin-top: -45px;
}

.responsive_layout_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 120px;
    margin-top: -8px;
}

.support_img {
    position: absolute;
    margin-left: 359px;
    margin-top: 1px;
}

.support_heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 439px;
    margin-top: -168px;
}

.support_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 439px;
    margin-top: -8px;
}

.feel_like_a_star_img {
    position: absolute;
    margin-left: 679px;
    margin-top: 1px;
}

.feel_like_a_star_heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 761px;
    margin-top: -168px;
}

.feel_like_a_star_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 760px;
    margin-top: -8px;
}

.icons_text {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
}

.border {
    border: 1px solid #666d89;
    padding: 2px 6px 3px 6px;
    border-radius: 5px;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio_title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
    padding-left: 40px;
}

.portfolio_text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    padding-top: 9px;
    padding-left: 40px;
}

.portfolio_button_all {
    margin-left: 41px;
    margin-top: -34px;
    cursor: pointer;
}

.icons_text:hover {
    color: #dedede;
}

.border:hover {
    border-color: #dedede;
}

.portfolio_button_web_design {
    margin-top: -22px;
    margin-left: 80px;
    cursor: pointer;
}

.portfolio_button_graphic_design {
    margin-left: 168px;
    margin-top: -22px;
    cursor: pointer;
}

.portfolio_button_artwork {
    margin-left: 270px;
    margin-top: -22px;
    cursor: pointer;
}

.image_size_portfolio {
    width: 220px;
    height: 187px;
    margin-left: 16px;
}

.image_1 {
    margin: 19px 0 0 40px;
}

.image_5 {
    margin: 16px 0 0 40px;
}

.image_9 {
    margin: 16px 0 0 40px;
}

.about_us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;;
}

.about_us_title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    padding: 68px 0 0 40px;
}

.about_us_heading {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 27px 0 0 40px;
}

.photo_size {
    width: 300px;
    height: 300px;
}

.photo {
    margin: 48px 0 0 40px;
}

.photo_2 {
    margin-left: 15px;
}

.photo_3 {
    margin-left: 17px;
}

.name_title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 13px 0 0 39px;
}

.desmond {
    margin-left: 208px;
}

.scolara {
    margin-left: 190px;
}

.name_text {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
}

.adam_text {
    margin-left: 39px;
    margin-top: 10px;
    width: 300px;
    height: 175px;
}

.desmond_text {
    margin-left: 359px;
    margin-top: -187px;
    width: 300px;
    height: 175px;
}

.scolara_text {
    margin-left: 680px;
    margin-top: -187px;
    width: 300px;
    height: 175px;
}

.icon_facebook {
    border-radius: 16px;
    border: 1px solid #666d89;
    padding: 8px 11px 8px 11px;
    cursor: pointer;
}

.icon_facebook:hover,
.icon_google:hover,
.icon_twitter:hover,
.icon_link:hover {
    background-color: #e36861;
}

.icon_google {
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #666d89;
    padding: 8px 8px 8px 8px;
}

.icon_twitter {
    margin-left: 4px;
    border-radius: 16px;
    border: 1px solid #666d89;
    padding: 9px 8px 9px 8px;
    cursor: pointer;
}

.icon_link {
    margin-left: 4px;
    border-radius: 16px;
    border: 1px solid #666d89;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
}

.icons_adam {
    margin: -121px 0 0 40px;
}

.icons_desmond {
    margin: -36px 0 0 360px;
}

.icons_scolara {
    margin: -36px 0 0 680px;
}

.get_a_quote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.footer {
    height: 76px;
    background-color: #2d303a;
}

.get_heading {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    padding-top: 68px;
}

.get_title {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 27px 0 0 40px;
}

.contacts_form {
    margin: 0 0 0 40px;
}

.contacts_field {
    width: 619px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0 0 0 0;
}

.contacts_textarea {
    width: 619px;
    height: 100px;
}